# Bỏ qua thư viện nặng
node_modules/
/client/node_modules/
/server/node_modules/

# Bỏ qua file môi trường (chứa mật khẩu)
.env
.env.local

# Bỏ qua file build
dist/
build/

# Bỏ qua log hệ thống
npm-debug.log*
yarn-debug.log*
logs/
*.log